nav{
    width: 200px;
    height: 100vh;
    display: flex-grid;
    background-color: #000;
    color: white;
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

nav a .nav-item{
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-right: 1rem;
}

nav a .nav-item:hover{
    background-color: #333;
}   

nav a .nav-item  .active{
    background-color: #555;
}

