.form-bg{
    width: 100%;
    height: 100vh;
    background-color: #FFF;
}

.form-container{
    width: 600px;
    height: 500px;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.75);
}