<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Agregar {{name()}}</h3>
        <input type="text"
            class="form-control"
            id=""
            placeholder="Nombre"
            [value]="name()"
            (change)="name.set(txtName.value)"
            #txtName>
        <h3>Power - {{power() }}</h3>
        <input 
            type="number" 
            class="form-control mt-2" 
            id="Poder"
            [value]="power()"
            
            #txtPower>
            <!-- (change)="power.set(txtPower | Number)" -->
        <button class="btn mt-2 btn-primary">
            Agregar
        </button>
    </div>
    <div class="col-12 col-sm-6">
        <h3>Listado</h3>
        <ul>
            @for (character of characters(); track character.id; let index = $index;) {
                @if (character.power > 500) {
                    <li>
                        <span>
                            {{index + 1}} {{character.name}}
                        </span>
                        <strong 
                            [class.text-danger]="character.power > 9000"
                            [class.text-info]="character.power <= 9000"
                            >({{ character.power }})</strong>
                            <!-- [ngClass]="powerClases()" -->
    
                    </li>
                }@else {
                    <li>
                        <strong>
                            Aqui no hay nadie
                        </strong>
                    </li>
                }
            }
        </ul>
    </div>
</section>