<h3>Agregar {{name()}}</h3>
<input type="text"
    class="form-control"
    id="heroName"
    placeholder="Nombre"
    [value]="name()"
    (change)="name.set(txtName.value)"
    #txtName>
<h3>Power - {{power() }}</h3>
<input 
    type="number" 
    class="form-control mt-2" 
    id="power"
    [value]="power()"
    (input)="power.set(+txtPower.value)"
    #txtPower>
    <!-- (change)="power.set(txtPower | Number)" -->
<button class="btn mt-2 btn-primary" (click)="addCharacter()">
    Agregar
</button>